/* Exercicio 01*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.Exercicio01{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffff;
}
.labelexe1{
    display: block;
    margin-top: 10px;
}
#lado1{
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #ccc;
}
#lado2{
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #ccc;
}
#BtCalcular{
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/*Exercicio 02 */


.Exercicio02{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffff;
}
.labelexe2{
    display: block;
    margin-top: 3px;
}
#NumCavalos{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: solid 1px #ccc;
    margin-top: 10px;
}
#btCalFerradura{
    display: block;
    margin-top: 10px;
    padding: 12px 18px;
    background-color: #4c4faf;
    color: #ffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}


/*Exercicio 03*/


.Exercicio03{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelexe3{
    margin-top: 10px;
    display: block;
}
#numPao{
    width: 100%;
    padding: 8px;
    border: solid 1px #cccc;
    border-radius: 20px;
    margin-top: 8px;
}
#numBroa{
    width: 100%;
    padding: 8px;
    border: solid 1px #cccc;
    border-radius: 20px;
    margin-top: 8px;
}
#btCalPadaria{
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    border: solid 1px #000000;
    background-color: rgb(23, 1, 93);
    color: #ffff;
    cursor: pointer;
}


/*Exercicio 04*/


.Exercicio04{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
#inputIdade{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #cccc;
    border-radius: 3px;
}
#btCalDia{
    display: block;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #22682d;
    cursor: pointer;
}


/*Exercicio 05*/

.Exercicio05{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe05{
    display: block;
    margin-top: 8px;
}
#VlrGasosa{
    margin-top: 7px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#TotalPago{
    margin-top: 7px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#btCalLitros{
    margin-top: 8px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #ffff;
    cursor: pointer;
}


/*Exercicio 06*/

.Exercicio06{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe06{
    display: block;
    margin-top: 10px;
}
#PesodoPrato{
    width: 75%;
    padding: 5px;  
    margin-top: 10px;
    border: 1px solid #cccc;
    border-radius: 10px;
}
#btCalPrato{
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #cccc;
    border-radius: 10px;
    background-color: #4eaad2;
    border: none;
    cursor: pointer;
}

/*Exercicio 07*/

.Exercicio07{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #8305f1;
}
.labelExe07{
    display: block;
    margin-top: 10px;
}
#diaAtual{
    width: 50%;
    padding: 5px;
    border-radius: 90px;
    left: 100%;
    margin-top: 10px;
    border: 1px solid #cccc;
}
#mêsAtual{
    width: 50%;
    padding: 5px;
    border-radius: 90px;
    resize: 100%;
    margin-top: 10px;
    border: 1px solid #cccc;
    display: block;
}
#CalcularDias{
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    border-style: hidden;
    background-color: #ffff;
    cursor: pointer;
}


/*Exercicio 08*/


.Exercicio08{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe08{
    display: block;
    margin-top: 10px;
}
#CamisasP{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: solid 1px #ccc;
    margin-top: 10px;
}
#CamisasM{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: solid 1px #ccc;
    margin-top: 10px;
}
#CamisasG{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: solid 1px #ccc;
    margin-top: 10px;
}
#BtFinalizarCamisas{
    padding: 10px 14px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    background-color: #4CAF50;
    cursor: pointer;
}


/*Exercicio 09*/


.Exercicio09{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    
}
.labelExe09{
    display: block;
    margin-top: 10px;
}
#InputVlrXa{
    margin-top: 10px;
    width: 100%;
    padding: 8px ;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#InputVlrXb{
    margin-top: 5px;
    width: 100%;
    padding: 8px ;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#InputVlrYa{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px ;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#InputVlrYb{
    margin-top: 10px;
    width: 100%;
    padding: 8px ;
    border-radius: 5px;
    border: 1px solid #cccc;
}
#btCalCartesiano{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor:  progress;
    background-color: #4CAF50;
}



/*Exercicio 10*/


.Exercicio10{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe10{
    display: block;
    margin-top: 10px;
}
#inputDiasSemAcidente{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid black;
}
#CalcularExer10{
   margin-top: 10px;
   padding: 10px;
   border-radius: 10px; 
   border: none;
   background-color: #00bfff;
   color: #000000;
}


/*Exercicio 11*/


.Exercicio11{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe11{
    display: inline;
    margin-top: 10px;
}
#salarioAtual{
    width: 200px;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #cccc;
}
#btCalExe11{
    width: 100px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    padding: 3px;
}


/*Exercicio 11*/


.Exercicio12{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe12{
    display: inline;
    margin-top: 10px;
}
#NumeroInteiroExe12{
    width: 180px;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #cccc;
}
#btOrganizarNumeros{
    width: 80px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    padding: 3px
}


/*Exercicio 11*/


.Exercicio13{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe13{
    display: inline;
    margin-top: 10px;
}
#inputRaiopizza{
    width: 200px;
    padding: 3px;
}
#btCalAreaPizza{
    margin-top: 10px;
    padding: 5px 7px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #ffff;
}


/*Exercicio 11*/


.Exercicio14{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.labelExe14{
    display: inline;
    margin-top: 10px;
}
#InputVlrPConta{
    width: 200px;
    padding: 3px;
    border-radius: 30px;
    border: 1px solid black;
}
#btDividirConta{
    padding: 3px 8px;
    border-radius: 30px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
}